<div class="activityCard" id="{{activity1}}">
    <i class="itemIcon fa-solid fa-person-walking"></i>
    
    <div class="div2">
        <h3>WoW Meet Up</h3>
        <div class="activityInfoLabel">
            <p class="col-3">DATE</p>
            <P class="col-3">TIME</P>
            <p class="col-3">LOCATION</p>
        </div>
        <div class="activityInfoData">
            <h5 class="col-3">12/22/23</h5>
            <h5 class="col-3">12:00pm</h5>
            <h5 class="col-3">The Ritz Lobby</h5>
        </div>
    </div>
</div>