<div class="splash animate__animated animate__fadeInDown" >
    <div id="splashText">
        <h1>Welcome to Travel Buddy!</h1>
        <h2>The best itinerary planner on the web</h2>
    </div>
    <div id="startBtn">
        {{#if loggedIn}}
        <a class="startBtn" href="/api/:id">Get Started</a>
        {{else}}
        <a class="startBtn"href="./login">Get Started</a>
        {{/if}}
    </div>
</div>