<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/jass.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Travel Buddy</title>
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="#" class="navbar-brand mr-2" id="logo">travel<span>buddy</span></a>
        </section>
        <section class="navbar-section">
            <button id="login">login</button>
            <button id="signup">signup</button>
        </section>
    </header>

    <div class="splash">
        <div id="splashText">
            <h1>Welcome to Travel Buddy!</h1>
            <h2>The best itinerary planner on the web</h2>
        </div>
        <div id="startBtn">
            <button>Get Started</button>
        </div>
    </div>
    
</body>
</html>