<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/jass.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Travel Buddy</title>
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="./homepage.html" class="navbar-brand mr-2" id="logo">travel<span>buddy</span></a>
        </section>
        <section class="navbar-section">
              <div class="dropdown">
                  <a href="./triplayout.html" class="btn btn-link dropdown-toggle" tabindex="0">
                   {{user.name}}<i class="icon icon-caret"></i>
                  </a>
                  <ul class="menu">
                      <li class="menu-item">
                          <a href="/login">
                          <i class="icon icon-link"></i>logout
                          </a>
                      </li>
                  </ul>
              </div>
            <a href="./login.html"id="loginBtn">login</a>
            <a href="./login.html"id="signupBtn">signup</a>
        </section>
    </header>

    <div class="splash">
        <div id="splashText">
            <h1>Welcome to Travel Buddy!</h1>
            <h2>The best itinerary planner on the web</h2>
        </div>
        <div id="startBtn">
            <a href="./login.html">Get Started</a>
        </div>
    </div>
    
</body>
</html>