<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Travel Buddy</title>
</head>

<body>
    <header>
        <div id="logo">
            Travel Buddy
        </div>
        <div id="loginContain">
            <button>login</button>
            <button>signup</button>
        </div>
    </header>

    <main>
        <div id="splashText">
            <h1>Welcome to Travel Buddy!</h1>
            <h2>The best itinerary planner on the web</h2>
        </div>
        <div id="startBtn">
            <button>Get Started</button>
        </div>
    </main>
    
</body>
</html>