<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>travelbuddy</title>
</head>

<body class="loginBody">
    <header class="navbar">
        <section class="navbar-section">
            <a href="./homepage.html" class="navbar-brand mr-2" id="logo">travel<span>buddy</span></a>
        </section>
        <section class="navbar-section">
              <div class="dropdown">
                  <a href="./triplayout.html" class="btn btn-link dropdown-toggle" tabindex="0">
                   {{user.name}}<i class="icon icon-caret"></i>
                  </a>
                  <ul class="menu">
                      <li class="menu-item">
                          <a href="/login">
                          <i class="icon icon-link"></i>logout
                          </a>
                      </li>
                  </ul>
              </div>
            <a href="./login.html"id="loginBtn">login</a>
            <a href="./login.html"id="signupBtn">signup</a>
        </section>
    </header>

    <main>
        <div class="logincontainer columns col-6 col-mx-auto">
            <div id="loginForm"class="column form-horizontal">
                <h2>Login</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="email">Email</label>
                        </div>
                        <div class="col-6 col-sm-12">
                            <input class="form-input" type="text" id="email" placeholder="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="password">Password</label>
                        </div>
                        <div class="col-6 col-sm-12">
                            <input class="form-input" type="text" id="password" placeholder="password">
                        </div>
                    </div>
                    <button class="btn btn-primary input-group-btn">Submit</button>
                </form>
            </div>
            
            <div class="divider-vert" data-content="OR"></div>  
            
            <div id="signupForm" class="column">
                <h2>Sign up</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="name">Name</label>
                        </div>
                        <div class="col-6 col-sm-12">
                            <input class="form-input" type="text" id="name" placeholder="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="email">Email</label>
                        </div>
                        <div class="col-6 col-sm-12">
                            <input class="form-input" type="text" id="email" placeholder="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="password">Password</label>
                        </div>
                        <div class="col-6 col-sm-12">
                            <input class="form-input" type="text" id="password" placeholder="password">
                        </div>
                    </div>
                    <button class="btn btn-primary input-group-btn">Submit</button>
                </form>
            </div>

        </div>
            
    </main>
</body>
</html>