<main>
    <div class="logincontainer columns col-6 col-mx-auto">
        <div id="login-form"class="column form-horizontal">
            <h2>Login</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="email">Email</label>
                    </div>
                    <div class="col-6 col-sm-12">
                        <input class="form-input" type="text" id="email-login" placeholder="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="password">Password</label>
                    </div>
                    <div class="col-6 col-sm-12">
                        <input class="form-input" type="password" id="password-login" placeholder="password">
                    </div>
                </div>
                <button class="btn btn-primary input-group-btn" type="submit">Submit</button>
            </form>
        </div>
            
        <div class="col-2 divider-vert">
            <h2>OR</h2>
        </div>  
            
        <div id="signup-form" class="column">
            <h2>Sign up</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="name">Name</label>
                    </div>
                    <div class="col-6 col-sm-12">
                        <input class="form-input" type="text" id="name-signup" placeholder="name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="email">Email</label>
                    </div>
                    <div class="col-6 col-sm-12">
                        <input class="form-input" type="text" id="email-signup" placeholder="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="password">Password</label>
                    </div>
                    <div class="col-6 col-sm-12">
                        <input class="form-input" type="password" id="password-signup" placeholder="password">
                    </div>
                </div>
                <button id="signup-btn" class="btn btn-primary input-group-btn" type="submit">Submit</button>
            </form>
        </div>

    </div>
            
</main>

<script src="./js/login.js"></script>
