<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Alegreya+Sans:wght@400;500;700&family=Alegreya:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Travel Buddy</title>
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="./homepage.html" class="navbar-brand mr-2" id="logo">travel<span>buddy</span></a>
        </section>
        <section class="navbar-section">
            <!-- <div class="dropdown">
                <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                  dropdown menu <i class="icon icon-caret"></i>
                </a>
                <ul class="menu">
                    <li>Logout</li>
                </ul>
              </div> -->

              <div class="dropdown">
                  <a href="./triplayout.html" class="btn btn-link dropdown-toggle" tabindex="0">
                   {{user.name}}<i class="icon icon-caret"></i>
                  </a>
                  <ul class="menu">
                      <li class="menu-item">
                          <a href="/login">
                          <i class="icon icon-link"></i>logout
                          </a>
                      </li>
                  </ul>
              </div>
            <a href="./login.html"id="loginBtn">login</a>
            <a href="./login.html"id="signupBtn">signup</a>
        </section>
    </header>

    <main>
        <div id="welcomeMessage">
            <h1>Welcome, Eric Sayer!</h1>
        </div>

        <div id="mainContain">
            <div class="col-1" id="tripSelectContain">
                <button>Trip 1</button>
                <button>Trip 2</button>
                <button id="newTripBtn">+ New Trip</button>
            </div>
    
            <div class="col-7" id="itinContain">
                <!-- <div id="noTrips">
                    <h2>No trips created!</h2>
                </div> -->

                <div id="flightContain">
                    <h2>Flights</h2>
                    <div class="flightCard" id="flight1">
                        <h3>MSP to BOS</h3>
                        <div class="flightInfoLabel">
                            <p class="col-3">DATE</p>
                            <P class="col-3">TIME</P>
                            <p class="col-3">FLIGHT</p>
                            <p class="col-3">GATE</p>
                        </div>
                        <div class="flightInfoData">
                            <h5 class="col-3">12/24/25</h5>
                            <h5 class="col-3">9:00 AM</h5>
                            <h5 class="col-3">AC123</h5>
                            <h5 class="col-3">G4</h5>
                        </div>
                    </div>
                </div>

                <div id="hotelContain">
                    <h2>Hotels</h2>
                    <div class="hotelCard" id="hotel1">
                        <h3>Tipton Hotel</h3>
                        <div class="hotelInfoLabel">
                            <p class="col-3">CHECK-IN DATE</p>
                            <P class="col-3">CHECK-IN TIME</P>
                            <p class="col-3">CHECK-OUT DATE</p>
                            <p class="col-3">CHECK-OUT TIME</p>
                        </div>
                        <div class="hotelInfoData">
                            <h5 class="col-3">12/24/25</h5>
                            <h5 class="col-3">2:00 PM</h5>
                            <h5 class="col-3">12/25/25</h5>
                            <h5 class="col-3">11:00 AM</h5>
                        </div>
                    </div>
                </div>

                <div id="activityContain">
                    <h2>Activities</h2>
                    <div class="activityCard" id="activity1">
                        <h3>Lunch with London</h3>
                        <div class="activityInfoLabel">
                            <p class="col-3">DATE</p>
                            <P class="col-3">TIME</P>
                            <p class="col-3">LOCATION</p>
                        </div>
                        <div class="activityInfoData">
                            <h5 class="col-3">12/24/25</h5>
                            <h5 class="col-3">1:00 PM</h5>
                            <h5 class="col-3">Tipton Hotel</h5>
                        </div>
                    </div>
                    <div class="activityCard" id="activity1">
                        <h3>Hike with Esteban</h3>
                        <div class="activityInfoLabel">
                            <p class="col-3">DATE</p>
                            <P class="col-3">TIME</P>
                            <p class="col-3">LOCATION</p>
                        </div>
                        <div class="activityInfoData">
                            <h5 class="col-3">12/24/25</h5>
                            <h5 class="col-3">4:00 PM</h5>
                            <h5 class="col-3">Hotel Park</h5>
                        </div>
                    </div>
                    <div class="activityCard" id="activity1">
                        <h3>Bowling with Arwin</h3>
                        <div class="activityInfoLabel">
                            <p class="col-3">DATE</p>
                            <P class="col-3">TIME</P>
                            <p class="col-3">LOCATION</p>
                        </div>
                        <div class="activityInfoData">
                            <h5 class="col-3">12/24/25</h5>
                            <h5 class="col-3">8:00 PM</h5>
                            <h5 class="col-3">Bowling Alley</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <dialog  id="tripCreator">
            <form>
                <div id="modalHeader">
                    <h2>Create your trip!</h2>
                    <a href="#close" id="closeTripCreator"class="btn btn-clear" aria-label="Close"></a>
                </div>
    
                <div class="tab">
                    <p class="formTitle">Name your trip:</p>
                    <input type="text" name="tripName" placeholder="Trip Name"/>
                </div>
    
                <div class="tab">
                    <p class="formTitle">Flights:</p>
                    <div class="flightFormContain">
                    </div>
                    <div class="addInput">
                        <button class="addFlightBtn">+</button>
                        <p>Add New Flight</p>
                    </div>
                </div>
    
                <div class="tab">
                    <p class="formTitle">Input your hotels:</p>
                    <input type="text" name="tripName" placeholder="Trip Name"/>    
                </div>
    
                <div class="tab">
                    <p class="formTitle">Input your activities:</p>
                    <input type="text" name="tripName" placeholder="Trip Name"/>
                </div>

                <input type="submit" name="submit" class="submitBtn" value="Submit"/>
            </form>
        </dialog>

    </main>

    <script src="../public/js/modal.js"></script>
    
</body>
</html>