<main>
    <div id="welcomeMessage">
        <h1>Welcome, {{name}}!</h1>
    </div>

    <div id="mainContain">
        <div class="col-1" id="tripSelectContain">
            {{#if trips.length}}
            {{#each trips}}
            <a href="triplayout/{{this.trip_id}}">
            <button class="tripBtns">{{this.name}}</button>
            </a>
            {{/each}}
            {{/if}}
            <button class="tripBtns">+ New Trip</button>
        </div>

        <div class="col-7" id="itinContain">
            {{#unless trips.length}}
            <div id="noTrips">
                <h2>No trips created!</h2>
            </div>
            {{else}}
            <div id="flightContain">
                <h2>Flights</h2>
                {{!-- {{#each trips}}
                {{> flightDetail flight}}
                {{/each}} --}}
            </div>

            <div id="hotelContain">
                <h2>Hotels</h2>
                {{!-- {{#each trips}}
                {{> hotelDetail this.hotel}}
                {{/each}} --}}
            </div>

            <div id="activityContain">
                <h2>Activities</h2>
                {{!-- {{#each trips}}
                {{> activityDetail this.activity}}
                {{/each}} --}}
            </div>
            {{/unless}}
        </div>
    </div>

    <dialog  id="tripCreator">
        <form id="trip-form">
            <div id="modalHeader">
                <h2>Create your trip!</h2>
                <a href="#close" id="closeTripCreator"class="btn btn-clear" aria-label="Close"></a>
            </div>

            <div class="tab">
                <p class="formTitle">Name your trip:</p>
                <input id="trip-name"type="text" name="tripName" placeholder="Trip Name"/>
            </div>

            <div class="tab">
                <p class="formTitle">Flights:</p>
                <div class="flightFormContain">
                </div>
                <div class="addInput">
                    <button class="addFlightBtn">+</button>
                    <p>Add New Flight</p>
                </div>
            </div>

            <div class="tab">
                <p class="formTitle">Input your hotels:</p>
                <input id= "hotel-name" type="text" name="hotelName" placeholder="Trip Name"/>    
            </div>

            <div class="tab">
                <p class="formTitle">Input your activities:</p>
                <input id="activity-name" type="text" name="activityName" placeholder="Trip Name"/>
            </div>

            <input type="submit" name="submit" class="submitBtn" value="Submit"/>
        </form>
    </dialog>

    <script src="./js/modal.js"></script>

</main>