:root {
    --white: #fbf9f0;
    --blue: #2EC0F9;
    --darkBlue: #124559;

    --LYellow: #FAE6B1;
    --orange:  #FFA101;
    --LBlue: #6ac2d0;
    --DBlue: #31525B;

    --font1: 'Acme', sans-serif;
    --font3: 'Alegreya', serif;
    --font2: 'Alegreya Sans', sans-serif;
}

body {
    background-color: var(--DBlue);
}

/* NAV CSS */

.navbar {
    padding: 0.5% 1.5%;
}

#logo{
    color: var(--white);
    font-family: var(--font1);
    font-size: 25px;
    font-weight: 700;
}

#logo span {
    color: var(--orange);
}

#loginBtn {
    background: none;
    color: var(--white);
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 1%;
    border-radius: 10px;
    margin: 0.5%;
    font-family: var(--font2);
    font-weight: 700;
}

#signupBtn {
    background-color: var(--orange);
    border: none;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    padding: 1%;
    border-radius: 10px;
    font-family: var(--font2);
    font-weight: 700;
}

.profileBtn,
.profile:visited,
.profile:hover {
    text-align: center !important;
    padding: 1% !important;
    font-family: var(--font2) !important;
    font-weight: 700 !important;
    color: var(--white) !important;
    font-size: 20px !important;
    text-decoration: none !important;
}

/* WELCOME PAGE CSS */

.splash {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--font2);
    filter: drop-shadow(0px 5px #16262a);

}

#splashText {
    text-align: center;
    background-color: var(--LBlue);
    color: var(--white);
    padding: 3% 7%;
    border-radius: 50px;
}

#splashText h1 {
    font-size: 50px;
    font-weight: 700;
}

#splashText h2 {
    font-size: 30px;
}

#startBtn {
    margin-top: 2%;
    background-color: var(--orange);
    border-radius: 10px;
    padding: 0.5%;
}

.startBtn,
.startBtn:visited,
.startBtn:hover,
.startBtn:active {
    color: var(--white);
    text-decoration: none !important;
    font-family: var(--font2);
    font-weight: 700;
    font-size: 20px;
    border:none;
    outline: none;
}

/* LOGIN CSS */

.logincontainer {
    margin-top: 10%;
    border: none;
    border-radius: 10px;
    background-color: var(--LBlue);
    padding: 2%;
    filter: drop-shadow(0px 5px #16262a);
    display: flex;
    justify-content: space-between;
}

.logincontainer h2,
.logincontainer label {
    color: var(--white);
    font-family: var(--font2);
}

.logincontainer h2 {
    font-weight: 700;
    font-size: 35px;
}

.divider-vert {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-vert h2 {
    font-size: 25px;
    background-color: var(--LBlue);
    z-index: 2;
}

.form-horizontal {
    padding: 0;
}

.form-input {
    border-radius: 10px;
    border:none;
}

.input-group-btn {
    background-color: var(--orange) !important;
    border: none !important;
    border-radius: 10px;
    filter: drop-shadow(0px 2px #16262a);
}

/* TRIP PAGE CSS */

#mainContain {
    display: flex;
}

#welcomeMessage {
    margin: 5% 8%;
}

#welcomeMessage h1 {
    color: var(--white);
    font-family: var(--font2);
    font-weight: 700;
    font-size: 45px;
}

#tripSelectContain {
    display: flex;
    flex-direction: column;
    margin: 0% 8%;
}

#tripSelectContain button,
.tripBtns {
    margin-bottom: 20%;
    border: none;
    padding: 2% 3%;
    border-radius: 10px;
    min-width: 140px;
    background-color: var(--orange);
    filter: drop-shadow(0px 5px #16262a);
    color: var(--white);
    font-family: var(--font2);
    font-weight: 700;
}

.flightCard,
.hotelCard,
.activityCard {
    display: Flex;
}

.itemIcon {
    width: 5%;
    text-align: center;
    margin: auto;
    margin-right: 1%;
    color: var(--white);
    border-right: solid 2px var(--white);
    padding: 30px 0px;
}

.div2 {
    width: 95%;
}

#flightContain,
#hotelContain,
#activityContain {
    background-color: var(--LBlue);
    filter: drop-shadow(0px 5px #16262a);
    padding: 2%;
    border-radius: 20px;
    margin-bottom: 2%;
    color: var(--white);  
}

.flightCard,
.hotelCard,
.activityCard {
    padding: 2%;
}

.flightInfoLabel,
.flightInfoData,
.hotelInfoData,
.hotelInfoLabel,
.activityInfoLabel,
.activityInfoData {
    display: flex;
    margin-left: 1%;
    
}

.flightInfoLabel p,
.flightInfoData h5,
.hotelInfoLabel p,
.hotelInfoData h5,
.activityInfoLabel p,
.activityInfoData h5 {
    margin: 0%;
    font-family: var(--font2);

}

.flightInfoLabel p,
.hotelInfoLabel p,
.activityInfoLabel p {
    font-size: 15px;
}

#noTrips {
    background-color: rgb(187, 187, 187);
    text-align: center;
    color: #5e5e5e;
    border-radius: 20px;
    padding: 15% 0%;
    filter: drop-shadow(0px 5px #16262a);
}

#mainContain h2 {
    font-family: var(--font2);
    font-weight: 700;
    font-size: 35px;
}

#itinContain h3 {
    font-family: var(--font2);
    font-weight: 700;
    font-size: 28px;
}


/* MODAL CSS */

#tripCreator::backdrop {
	background: rgb(255 255 255 / 40%);
	z-index: 2;
	backdrop-filter: blur(20px);
}

#tripCreator {
    border: none;
    border-radius: 20px;
    padding: 2%;
}

#modalHeader {
    display: flex;
    justify-content: space-between;
}

.tab {
    display: flex;
    align-content: start;
}

.tab p {
    font-size: 25px;
}
