<div id="activityContain">
    <h2>Activities</h2>
    <div class="activityCard" id="activity1">
        <h3>{{Lunch with London}}</h3>
        <div class="activityInfoLabel">
            <p class="col-3">DATE</p>
            <P class="col-3">TIME</P>
            <p class="col-3">LOCATION</p>
        </div>
        <div class="activityInfoData">
            <h5 class="col-3">{{12/24/25}}</h5>
            <h5 class="col-3">{{1:00 PM}}</h5>
            <h5 class="col-3">{{Tipton Hotel}}</h5>
        </div>
    </div>
</div>