<div class="activityCard" id="{{activity1}}">
    <i class="fa-solid fa-person-walking"></i>
    <div class="div2">
        <h3>{{Bowling with Arwin}}</h3>
        <div class="activityInfoLabel">
            <p class="col-3">DATE</p>
            <P class="col-3">TIME</P>
            <p class="col-3">LOCATION</p>
        </div>
        <div class="activityInfoData">
            <h5 class="col-3">{{12/24/25}}</h5>
            <h5 class="col-3">{{8:00 PM}}</h5>
            <h5 class="col-3">{{Bowling Alley}}</h5>
        </div>
    </div>
</div>