<div class="hotelCard" id="{{hotelid}}">
    <h3>{{Tipton Hotel}}</h3>
    <div class="hotelInfoLabel">
        <p class="col-3">CHECK-IN DATE</p>
        <P class="col-3">CHECK-IN TIME</P>
        <p class="col-3">CHECK-OUT DATE</p>
        <p class="col-3">CHECK-OUT TIME</p>
    </div>
    <div class="hotelInfoData">
        <h5 class="col-3">{{}}</h5>
        <h5 class="col-3">{{}}</h5>
        <h5 class="col-3">{{}}</h5>
        <h5 class="col-3">{{}}</h5>
    </div>
</div>
